body{
    box-sizing: border-box;
    margin: 0;
}
header{
    background-color:#1F2937;
}

.head{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 110px;
    padding: 0 85px 0 120px;
    position:sticky;
}

.head img{
    height: 70px;
    width: 70px;
    border-radius:50%;
}

.head ul{
    display: flex;
    align-items:center;
    justify-content:space-around;
    height: 30px;
    width: 35%;
    box-sizing: border-box;
    padding: 2px 5px;
    gap: 50px;
    border-radius: 16px;
    list-style-type:none;
}

.head a{
    text-decoration: none;
    font-weight: 900;
    font-size: 18px;
    color: #E5E7EB;
}

.head a:hover{
    color:dodgerblue;
}

.sub-head{
    width: 100%;
    height: 250px;
    display: flex;
    align-items:center;
    justify-content:center;
}

.wall, .hero{
    height: 240px;
    width: 35%;
}
.hero{
    width: 50%;
}
.wall img{
    height: 100%;
    width: 100%;
}

.hero{
    box-sizing: border-box;
    padding: 5px 40px;
    font-size: 18px;
    color: #E5E7EB;
}
.hero h1{
    font-size: 48px;
    font-weight: 700;
    margin: 0;
}
.hero span{
    display: block;
    font-size: 36px;
}

.sign{
    background-color: #3882F6;
    color:#fff;
    font-size: 18px;
    border:none;
    padding: 2px 4px;
    border-radius: 4px;
}
.sign:hover{
    transform:scale(1.1);
}

.team{
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    height: 350px;

}
.tmhead{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    font-size: 24px;
    font-weight: 900;
    text-transform:capitalize;
    color: #1f2987;
}
.tmcards{
    display: flex;
    align-items:center;
    justify-content: center;
    gap:20px;
    padding: 5px;
}
.member{
    width: 17%;
    height:240px;
    padding: 5px;
}
.inner{
    width: 100%;
    height:160px;
}
.inner img{
    height:100%;
    width:100%;
}
.sometext{
    height: 70px;
    padding: 5px;
    text-align: center;
    background-color: white;
}

.quote{
    display: flex;
    align-items:center;
    justify-content: center;
    height: 270px;
    background-color:#E5E7EB;
}
.cont{
    width: 50%;
    height: 180px;
}
.cont p{
    text-align: justify;
}
.cited{
    display: block;
    text-align:right;
}

.action{
    display:flex;
    align-items:center;
    justify-content:center;
    height:250px;
}
.blue{
    box-sizing:border-box;
    display:flex;
    align-items:center;
    justify-content:space-between;
    height:150px;
    width: 80%;
    padding:25px 10%;
    background-color:#3882f6;
    color:#fff;
}

.blue button{
    background-color:#3882F6;
    color: #fff;
    font-weight:600;
    height:30px;
    width: 85px;
    border: 2px solid #fff;
    border-radius: 5px;
}

.calltxt{
    box-sizing:border-box;
    width:60%;
    height:100px;
    padding:5px;
}
.calltxt h3{
    font-size:24px;
    font-weight:900;
    color:#fff;
}
.calltxt p{
    margin-top:-20px;
    color: #E5E7EB;
}

footer{
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:#1F2937;
    color:#fff;
    width: 100%;
    height: 150px;
}