body{
    box-sizing: border-box;
    margin: 0;
}
header{
    background-color:#1F2937;
}

.head{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 110px;
    padding: 5px;
}

.head img{
    height: 70px;
    width: 70px;
    border-radius:50%;
}

.head ul{
    display: flex;
    align-items:center;
    justify-content:space-around;
    height: 30px;
    width: 35%;
    box-sizing: border-box;
    padding: 2px 5px;
    gap: 50px;
    border-radius: 16px;
    list-style-type:none;
    background-color: #E5E7EB;
}

.head a{
    text-decoration: none;
    font-weight: 900;
    font-size: 18px;
    color: #1F2937;
}

.head a:hover{
    color:dodgerblue;
}
